*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin: auto;
    max-width: 500px;
}

.box-form{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    text-align: center;
}

#text, .btn{
    padding: 0.7rem;
    border-radius: 10px;
}

#text{
   flex-grow: 1;
}

.btn{
    cursor: pointer;
    margin-left: 1rem;
}

.text-list{
    background-color: lightgray;
    padding: 1rem;
    border-radius: 0.5rem;
    list-style: none;
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.list:hover{
    background-color: white;
}

.list button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text-barred{
    text-decoration: line-through;
}

.text-unbarred{
    text-decoration: none;
}